* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    /*should take full size of monitor*/
    min-height: 100vh;
    /*linear gradient = mix of 2 colors and we go diagnol, so right top*/
    background: linear-gradient(to right top, black,rgb(73, 229, 73));
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background-color: white;
    min-height: 80vh;
    width: 60%;
    /*rgba allows to control opacity of a color*/
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);

}