* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    /*should take full size of monitor*/
    min-height: 100vh;
    /*linear gradient = mix of 2 colors and we go diagnol, so right top*/
    background: linear-gradient(to right top, cyan,#6ccde6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background-color: white;
    min-height: 80vh;
    width: 60%;

}